ZHIHU_ACCESS_SECRET=
ZHIHU_API_BASE_URL=https://developer.zhihu.com
ZHIJING_MOCK_MODE=true
ZHIJING_MAP_TTL_SECONDS=86400
ZHIJING_SEARCH_CONCURRENCY=2
ZHIJING_OUTLINE_TIMEOUT_MS=120000
ZHIJING_SEARCH_TIMEOUT_MS=10000
